/*!
 * Default skin for site usage of ExtJs UI components such as popup windows
 * These classes are loaded after the default (ext-all.css) found under bbappfx
 * so just overide the classes you want to tweak from the default.
 */
.x-window-mc
{
	padding: 10px;
	background-color: #f5f5f5;
}

.bbui-forms-formcontainer .x-form-text, .bbui-forms-formcontainer textarea.x-form-field 
{
    padding-left:4px;
    padding-right:4px;
    width:190px;
}

.bbui-forms-formcontainer h2 
{
    font-family:Tahoma;
    font-size:17px;
    font-weight:normal;
    padding-bottom:5px;
}

.bbui-forms-formcontainer td 
{
    padding:2px 1px 3px 3px;
}