h1, h2, .btn {
  font-family: $veneer;
  font-weight: normal;
}

h1 {
  color: $red;
  display: inline-block;
  font-size: 4rem;
  vertical-align: super;
}

h2 {
  color: $white;
  font-size: 4rem;
}

p {
  line-height: 1.5;
}
