h1, h2, .btn {
  font-family: $veneer;
  font-weight: normal;
}

h1 {
  color: $orange;
  display: inline-block;
  font-size: 3rem;
  vertical-align: super;
}

h2 {
  color: $white;
  font-size: 4rem;
}
